:root {
  --bg-primary: #252422;
  --bg-secondary:  #333333; 
  --accent-primary: #ee6055;
  --accent-secondary: #ff9b85;
  --light-primary: #fcfaf9ff;
  --font-default:  #fcfaf9ff;
  --font-light: #aaaaaa;

  --default-bezier: cubic-bezier(0, 0, 0.13, 0.97);


  --white: #FBDCFF;
  --alice-blue: #edf5fc;
  --pale-azure: #97dffc;
  --wendge: #605856;
  --celeste: #c5fffd;

  --bg-primary: var(--alice-blue);
  --accent-primary: var(--pale-azure);
  --accent-secondary: var(--celeste);
}

body {
  background-color: var(--bg-primary);
}


nav {
  position: fixed; 
  top: 10px;
  z-index: 1000;
}

#hambtn {
  width: 40px;
  height: 40px;
  display: grid; justify-items: center; align-items: center;
  background-color: var(--accent-primary);
  transition: all 0.5s var(--default-bezier);
}
#hambtn:hover {
  cursor: pointer;
}
.hamblob {
  content: '';
  width: 50px; height: 50px;
  position: absolute;
  top: -5px; left: -5px;
  background-color: var(--accent-secondary);
  z-index: -100;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, .5);
  transition: all 0.5s var(--default-bezier);
  display: grid; justify-items: center; align-items: top;
  
}

.hamblob-toggled {
  width: 30vh; height:auto;
  grid-template-rows: 50px 1fr 20px;
}

.hidden {
  display: none !important;
}

@media only screen and (min-width: 800px) {
  .hamblob {grid-template-columns: 50px 1fr 20px; justify-items: left; align-items: center;}
  .hamblob-toggled {width: 60vw; height: 50px;}
  #hamblob ul {
    grid-area: 1/2/1/2 !important; 
    flex-wrap: nowrap !important; margin: 0 !important; width:100% !important;}
  #hamblob button { padding: 0em !important;}
}

#hamblob ul {
  z-index: 20000;
  list-style-type: none;
  margin: 0em auto 0.5em auto;
  padding: 0;
  overflow: visible; flex-wrap: wrap;
  order: 1;
  height: 75%;
  display: flex;
  width: 90%;
  grid-area: 2/1/2/1;
}

#hamblob ul li {
  flex: 100%;
}

#hamblob button {
  width:100%; height: 100%;
  padding: 1em 0em 1em 0em;
  background-color: var(--bg-primary);
  border: 1px solid black;
  border-radius: 5px;
}
#hamblob button:hover {
  background-color: var(--bg-secondary);
}


.hamicon {
  margin: auto;
  content: '';
  background-color: var(--bg-primary);
  display: block;
  position: relative;
  transition: all 0.4s var(--default-bezier);
  width: 66%; height: 0.25em;
  border-radius: 20px;
}
.hamicon::before, 
.hamicon::after {
  background-color: var(--bg-primary);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  margin:auto;
  transition: all 0.5s var(--default-bezier);
  transform: rotate(-180deg);
  border-radius: 1em;
}
.hamicon::before {top: 175%;}
.hamicon::after {top: -175%;}

.hamicon-toggled {background:transparent;}
.hamicon-toggled::before,
.hamicon-toggled::after {
  width: 100%; top: 0; height: 0.35em;
}
.hamicon-toggled::before {transform: rotate(-45deg);}
.hamicon-toggled::after {transform: rotate(45deg);}




#title-cover {
  position: relative;
  width: 100%; height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#title-cover::after {
  content: '';
  position: absolute;
  bottom: 0;
  width:100%; height: 25%;
  background: linear-gradient(to top, var(--bg-primary), transparent);
  z-index: 100;
}

#title-cover img {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#title-cover h1 {
  position: relative;
  font-size: 400%;
  z-index: 10;
  top: -200px;
}

#title-ground { z-index: 90; }