:root {
  --bg-primary: #252422;
  --bg-secondary:  #333333; 
  --accent-primary: #ee6055;
  --accent-secondary: #ff9b85;
  --light-primary: #fcfaf9ff;
  --font-default:  #fcfaf9ff;
  --font-light: #aaaaaa;

  --default-bezier: cubic-bezier(0, 0, 0.13, 0.97);
}


#hambtn {
  width: 35px;
  height: 35px;
  display: grid;
}
#hambtn:hover {
  cursor: pointer;
}


.hamicon {
  margin: auto;
  content: '';
  background-color: var(--accent-primary);
  display: block;
  position: relative;
  transition: all 0.4s var(--default-bezier);
  width: 100%; height: 0.35em;
  border-radius: 20px;
}
.hamicon::before, 
.hamicon::after {
  background-color: var(--accent-primary);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s var(--default-bezier);
  transform: rotate(-180deg);
  border-radius: 1em;
}
.hamicon::before {top: 150%;}
.hamicon::after {top: -150%;}

.hamicon-toggled {background:transparent;}
.hamicon-toggled::before,
.hamicon-toggled::after {
  width: 100%; top: 0; height: 0.35em;
}
.hamicon-toggled::before {transform: rotate(-45deg);}
.hamicon-toggled::after {transform: rotate(45deg);}




nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
}


.container img {
  height: 100%;
  width: 100%;
}

.container img {
  object-fit: cover;
} 
